.type1 {
    display: flex;
    margin-right: 20px;

}

.type1Main {

    margin-right: 20px;

}


hr {
    margin: 10px 0 10px 0;
}

.type1 img {
    width: 110px;
    height: auto;
    margin-right: 12px;
}

.ant-row {
    margin: 0 0 0 0 !important;
}

.ant-col {
    padding: 0 !important;
}

.type2 {
    margin-right: 20px;
}

.type2 img {
    width: -webkit-fill-available;
}

.type3 img {
    width: -webkit-fill-available;
    height: auto;

}

.type3 {
    margin-bottom: 20px;
}

.titleType {
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    cursor: pointer;

    &:hover {
        color: #3399cc;

    }
}

.type1 .titleType {
    line-height: 1.4;
    font-size: 0.9rem;

}

.type2 .titleType {
    padding: 12px 0 0 0;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
}

.type3 .titleType {
    padding: 10px 0 0 0;
    font-size: 1rem;
}



@media only screen and (max-width: 1200px) {

    .type2Des {
        display: none;
    }

    .type3 {
        width: 46%;
        margin-right: 20px;
    }

    .type3 img {
        width: -webkit-fill-available;
    }



}

@media only screen and (max-width: 992px) {

    .type1 img {
        width: 220px;
    }


    .type2 {
        margin-right: 0px;
        vertical-align: middle;
    }

    .type3 {
        width: 49%;
        margin-right: 10px;
    }

    .type3 img {
        width: -webkit-fill-available;
    }
}