.main2 {
    margin: 0 250px 0 250px
}

.type1List {
    display: flex;
    justify-content: space-between;
}

/* New */
.container.content {
    display: flow-root;
}

.btn {
    margin-left: 16px;
    width: auto;
    height: 30px;
    font-size: 13px;
    border-radius: 20px;
    margin-right: 15px;
    border: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* nav_bar */
.btn:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}



.headmenu {
    display: flex;
    justify-content: space-between;
}

.card {
    width: auto;
    ;
}

.card-body.left {
    display: inline-flex;
}

.image-title {
    width: 120px;
    height: 60px;
}

.font-weight-bold {
    margin-left: 5px;
    font-size: 14px;
    color: black;
}

.font-weight-bold.text-dark.mid {
    font-size: 30px
}

.card-text {
    color: black;
}

.font-weight-bold.text-dark.left {
    font-size: 20px
}

.card.type4 {
    padding-top: 10px;
    display: contents;
}

.row.type4 {
    padding-top: 30px;
}

.font-weight-bold.text-dark.type4 {
    font-size: 15px;
}

.hrSachHay {
    margin-bottom: 30px;
}