.header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.header_tail {
    float: left;
    display: flex;
    align-items: center;
}

.userSelector {
    margin-right: 15px;
}