.type1Book {
    width: 235px;
}

.type1Book img {}

hr {
    margin: 10px 0 10px 0;
}

.type1Book img {
    width: 235px;
    height: auto;
    margin-right: 12px;
}

.type2Book {}

.type2Book img {
    width: 640px;
}

.type3Book img {
    width: 320px;
    height: auto;

}

.type3Book {
    margin-bottom: 20px;
}

.titleType {
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    cursor: pointer;

    &:hover {
        color: #3399cc;

    }
}

.type1Book .titleType {
    line-height: 1.4;
    font-size: 0.9rem;

}

.type2Book .titleType {
    padding: 12px 0 0 0;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
}

.type3Book .titleType {
    padding: 10px 0 0 0;
    font-size: 1rem;
}