.main {
    margin: 0 200px 0 200px
}

/* New */
.container.content {
    display: flow-root;
}

.btn {
    margin-left: 16px;
    width: auto;
    height: 30px;
    font-size: 13px;
    border-radius: 20px;
    margin-right: 15px;
    border: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* nav_bar */
.btn:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.ant-col {
    padding: 0 10px 0 10px !important;
}

.hagTag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    width: auto;
    ;
}

.card-body.left {
    display: inline-flex;
}

.image-title {
    width: 120px;
    height: 60px;
}

.font-weight-bold {
    margin-left: 5px;
    font-size: 14px;
    color: black;
}

.font-weight-bold.text-dark.mid {
    font-size: 30px
}

.card-text {
    color: black;
}

.font-weight-bold.text-dark.left {
    font-size: 20px
}

.card.type4 {
    padding-top: 10px;
    display: contents;
}

.row.type4 {
    padding-top: 30px;
}

.font-weight-bold.text-dark.type4 {
    font-size: 15px;
}


@media only screen and (max-width: 1295px) {
    .hagTag {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .collumType3 {
        display: flex;
    }

    .type3 {
        width: 100%;
    }

    .type3 img {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {

    .collumType2 {
        width: 100%;
    }

    .main {
        margin: 0;
    }

    .container {
        margin: 0;
    }
}