.container {
    margin: 0 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    width: 100px;
    margin: 0;
}

.hrHeader {
    margin: 0 0 10px 0;
}

.navbar-brand {
    display: block;
    width: 94%;
    height: 29px;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://static-znews.zingcdn.me/images/logo-zing-home.svg);
    position: relative;

}

.navbar-brand span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 7px;
    display: block;
    letter-spacing: 0;
    color: #444444;
    width: 100%;
    text-transform: uppercase;
    padding-left: 0;
    line-height: 1.2;

    top: 2px;
    left: 1px;
    text-indent: 0;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;

    margin: 0;
    height: 100%;
}

.navbar-nav li {

    margin-right: 24px;
    cursor: pointer;
    height: 100%;
    position: relative;
}

.navbar-nav li::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-nav li:hover::after {
    background-color: #69c0ff;
}

.collapse {
    display: flex;
    align-items: baseline;
    line-height: 52px;
}




.text-under-logo {
    display: block;
    padding-top: 30px;
    font-size: 12px;
    margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #69c0ff;
}

.fa.fa-sign-out {
    font-size: 35px;
    color: #69c0ff;
    padding-left: 20px;
}

.fa.fa-user-o {
    font-size: 30px;
    color: #69c0ff;
}

.userSelector {
    display: flex;
    align-items: center;
}

.userSelector p {
    margin: 0px;
}

.form-inline {
    display: flex;
    align-items: center;
}

.responsiveLogo {
    width: 85%;
    display: flex;
    justify-content: space-between;

}

@media only screen and (max-width: 1306px) {
    .nav-item {
        display: none;
    }

    .responsiveLogo {
        width: 55%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.ant-modal,
.ant-modal-content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 27px;
    max-width: unset;
    margin: unset;
}

.ant-modal-body {
    height: calc(100vh - 110px);
}

.ant-modal-centered::before {
    content: unset;
}

.modalColumn {
    color: #D7D7D8
}

.modalColumn li {
    list-style-type: none;
}

.subTitle::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 12px;
    margin-right: 5px;
    -webkit-transform: skew(-20deg);
    -khtml-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
    background-color: #dd3333;
}